.fetLogo {
    max-height: 6rem;
    max-width: 6rem;
    margin: 1rem;
    margin-left: 2.5rem;
}

.nav-bar {
    background-color: white;
}

.menu-link {
    text-decoration: none;
    font-size: 0.9rem;
    color: black;
    margin: 0.4rem 0.4rem;
    width: 100%;
}

header {
    box-shadow: none;
}