.fetLogo {
    max-height: 6rem;
    max-width: 6rem;
    margin: 1rem;
    margin-left: 9rem;
}

.nav-bar {
    background-color: white;
}

.menu-link {
    text-decoration: none;
    font-size: 0.9rem;
    color: black;
    margin: 0.4rem 0.4rem;
    width: 100%;
}

header {
    box-shadow: none;
}

.MuiFormControlLabel-label,
.MuiFormLabel-label-root,
#preffered_foot,
#preffered_position,
.MuiFormControlLabel-root,
.MuiFormControlLabel-labelPlacementStart,
.MuiFormControlLabel-labelPlacementTop,
.MuiFormControlLabel-labelPlacementBottom,
.MuiFormControlLabel-labelPlacementEnd,
.MuiFormLabel-labelPlacementEnd,
.MuiFormControlLabel-label,
.MuiFormLabel-root,
.MuiFormLabel-labelPlacementStart,
.MuiFormLabel-labelPlacementTop,
.MuiFormLabel-labelPlacementBottom,
.MuiFormLabel-label,
.formLabel
{
    font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
    color: black;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input,
.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root,
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root,
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input,
.css-1e3dtw0-MuiFormLabel-root-MuiInputLabel-root {
    font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif !important;
    color: black !important;

}